// _variables.scss

$font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-color-light: rgba(255, 255, 255, 0.87);
$background-dark: #242424;
$background-light: #ffffff;
$primary-color: #213547;
$secondary-color: #1a2b3c;
$modal-background: rgba(0, 0, 0, 0.8);
